@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  background-color: #121212;
  color: whitesmoke;
  font-family: "Josefin Sans", cursive;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.money {
  margin-top: 0px;
}

.card-1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 46, 46);
}

.left {
  margin-left: 40px;
  margin-right: 20px;
}
.right {
  margin-left: 20px;
  margin-right: 40px;
}

.dp04 {
  background-color: rgba(157, 142, 142, 0.09);
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      4px 5px 0px hsla(0, 0%, 39%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 39%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 39%, 0.2);
}

.green {
  color: rgb(7, 147, 7);
}

.red {
  color: rgb(149, 7, 7);
}

.card-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(48, 46, 46);
  margin: 20px 0 20px 0;
  padding: 6px;
  width: 100%;
}

.amount {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgb(48, 46, 46);
  color: antiquewhite;
  border-radius: 5px;
}

.log-name {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgb(48, 46, 46);
  color: antiquewhite;
  border-radius: 5px;
}

.button {
  margin-top: 10px;
  width: 100%;
  background-color: #bb86f6;
  color: antiquewhite;
  padding: 5px;
}

.indicator {
  display: flex;
  flex-direction: row;
}

.color-marker-green {
  width: 10px;
  background-color: rgb(7, 147, 7);
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.color-marker-red {
  width: 10px;
  background-color: rgb(149, 7, 7);
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
}
